.App {
  /* background-color: #FFF; */
  background-color: #EEE;
}

/* *:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body, html {
  height: 100%;
  margin: 0;
  color: #0c0c0c;
  -webkit-font-smoothing: antialiased
}

#nav {
  width: 100%;
  margin: 0 auto;
  background: url(/images/blackshot.png); 
  padding: 0;
  /* backface-visibility: hidden; */
  /* background-size: cover; */
  /* box-shadow: 0px 5px 0px #E1E1E1; */
}

Nav.Item, Nav.Link, strong {
  display: inline-block;
  color: #fff;
}

Nav.Item, Nav.Link, strong{ 
  display: block;
  padding: 15px;
  text-decoration: none;
  list-style:none;
  font-weight: 400;
  /* text-transform: uppercase; */
  margin: 0 10px;
}
Nav.Item, Nav.Link, strong,
Nav.Item, Nav.Link, strong:after,
Nav.Item, Nav.Link, strong:before {
  transition: all .5s;
}
Nav,Nav.Item, Nav.Link, strong:hover {
  color: #0c0c0c;  
}

#dlogo {
  width: 115px;
}


/* SHIFT */
.shift Nav.Link, strong {
  position:relative;
  z-index: 1;
}
.shift Nav.Link, strong:hover {
  color: #91640F;
  text-decoration-line: none;
}
.shift Nav.Link, strong:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  /* color: transparent; */
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift Nav.Link, strong:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  text-decoration: none !important;
}

.section-container{
  min-height: 680px;
  scroll-margin-top: 4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
} 

.portfolio-container{
  background-color: #0c0c0c;
  min-width: 100%;
  min-height: 780px;
  position:relative;
  background:linear-gradient(transparent,  #0c0c0c 80%), url(/images/3dcoding3.jpg) no-repeat center; 
  backface-visibility: hidden;
  background-size: cover;
  /* box-shadow:0 12px 15px 0 #E1E1E1,0 17px 50px 0 #E1E1E1; */
}

#photo {
  width: 240px;
  height: 370px;
  margin: 10px auto 10px auto;
  transition: transform 1s;
  transform-style: preserve-3d;
  /* border-radius: 50%; */
  display: block;
}

#header1 {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

#header3{
  text-align: center;
  font-family: "Space Mono", Arial, serif;
}

.titleLine {
  background-color: #91640F;
  width: 55px;
  height: 7px;
  margin-top: -15px;
  /* margin-bottom: 0px; */
}

#contact-me {
  /* font-family: "Space Mono", Arial, serif;
  display: block;
  color: #0000ff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bolder; */
  text-decoration-line: none;
}

#contact-me:hover {
  color: #91640F;
  /* background: #a9a9a9; */
  font-weight: bolder;
  text-decoration-line: none;
}

#emails{
  color: #0000ff;
  font-size: 20px;
  text-decoration-line: none;
}

#header2{
  color: #0c0c0c;
  padding: 15px;
  text-align: center;
  /* font-family: "Space Mono", Arial, serif; */
  font-weight: 700;
  /* margin-top: -5px; */
}

h2{
  /* color: #ffffff; */
  padding: 10px;
  font-weight: bolder;
}

.paragraph{
  /* font-family: sans-serif; */
  font-size: 22px;
  padding: 2px;
  text-align: justify;
}

.projects-container {
  font-family: 'Poppins', sans-serif;;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}

.row{
  padding: 10px;
}

.frontside:hover {
  opacity: .6;
  cursor: pointer;
}

.info {
  background: #252323;
  position: relative; 
  z-index: 3;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transform: translate(-50%, -50%);
  /* text-transform: uppercase; */
  transition: 0.5s all;
}

.frontside:hover .info {
  opacity: 1;
  transform: translateY(100px);
  cursor: pointer;
}

#frontside {
  background: url('/images/moviesimage.jpg');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}
#frontside1 {
  background: url('/images/cinemabinge2.jpg');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}
#frontside2 {
  background: url('/images/social-media1.jpg');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}
#frontside3 {
  background: url('/images/clickyreact.photo.jpg');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}
#frontside4 {
  background: url('/images/train-image.jpg');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}
#frontside5 {
  background: url('/images/giphycover.gif');
  width: 100%;
  min-height: 250px;
  justify-content: stretch;
  position:relative;
  backface-visibility: hidden;
  background-size: cover;
}

.modalText {
  text-align: center;
  font-weight: 600;
}

.viewSite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  margin: 5px;
  padding: 3px;
  /* background: #808000; */
}

.viewSite:hover {
  font-family: 'Poppins', sans-serif;
  text-decoration-line: none;
  color: #91640F;
}

.modalTool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalButton {
  background-color: #fff;
  color: #0c0c0c;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  border: solid 2px #91640F;
  width: 50%;
  height: 50px;
}

.modalButton:hover {
  /* font-family: 'Notable', sans-serif; */
  background-color: #91640F;
  color: #FFF;
  /* font-weight: bolder; */
  cursor: pointer;
  /* border: solid 2px #; */
}

#contained-modal-title-vcenter{
  color: #0c0c0c;
}

.details, .tech {
  color: #0c0c0c;
  font-weight: 600;
  text-decoration-line: underline;
}

.pjTitle {
  text-align: center;
  padding: 5px;
  margin-bottom: 0;
}

.header{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 0px; */
  /* text-decoration: underline; */
}

#headers {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.container-contact{
  background-image: url(/images/nature.jpg); 
  /* font-family: "Space Mono", Arial, serif; */
  /* color: #0c0c0c; */
  position:relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #ontactline {
  background-color: rgb(136, 106, 106);
  margin-top: 5px;
  margin-bottom: 5px;
} */

#contactForm {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 19px;
}

.alert {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  background: #91640F;
  margin-bottom: 10px;
  display: none;
}

#submitDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #submitDivs{
  display: flex;
  justify-content: center;
  align-items: center;
} */

#btn-submit {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  color: #91640F;
  text-align: center;
  font-weight: bolder;
  /* background:#a9a9a9; */
  border: solid 3px #91640F;
  width: 50%;
  line-height: 40px;
}

#btn-submit:hover {
  color: #fff;
  background: #91640F;
  border: solid 2px #91640F;
}

.footer
{
  /* font-family: "Space Mono", Arial, serif; */
  color: #0c0c0c;
  padding: 4px;
  background: #fff;
  text-align: center;  
}

.fa {
  color: #0c0c0c;
  padding: 7px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {
  color: #91640F;
  text-decoration-line: none;
}


.fa-github:hover {
  text-decoration-line: none;
} 


/* Animation */

/* .header12, small {
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Kelly Slab', cursive;
  color: #252323;
  text-align: center;
  font-weight: bolder;
} */

.typeWriterEffect {
  font-family: "Space Mono", Arial, serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  margin-top: 450px;
  /* position: absolute; */
  /* top: 55%;
  left: 55%; */
  /* transform: translate(-50%, -50%); */
  /* top: 25%; */
}

#submitDivs {
  align-items: center;
}

#name {
  color: #808000;
  font-size: larger;
}

#info-btn {
  font-family: 'Poppins', sans-serif;
  border: 2px solid #91640F;
  color: #91640F;
  font-size: 25px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  height: auto;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 450px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%; */
}

#info-btn:hover {
  color: #fff;
  background: #91640F;
  border: solid 2px #91640F;
  cursor: pointer;
}

/* .header11{
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Kelly Slab', cursive;
  color: #252323;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  margin-top: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
}

.header11 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
}
.header11 h3 {
  position: relative;
  color: #252323;
  text-align: center;
  white-space: nowrap;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 0.0625em;
  width: calc(11ch + 11*0.0625em);
}
.header11 h3:after {
  display: block;
  position: absolute;
  content: "";
  width: calc(11ch + 11*0.0625em);
  height: 2ex;
  left: 0;
  top: 0;
  background: #E1E1E1;
  animation: 0.6s blink 11, move 3s 1.5s forwards steps(1);
  border-left: 1px solid #152860;
  box-shadow: 0px 1ex 0px 0px #E1E1E1;
} */
/* @keyframes move {
  10% {
    width: calc( calc(11ch + 11*0.0625em) - (1ch + 1*0.0625em) );
    left: calc(1ch + 1*0.0625em);
  }
  20% {
    width: calc( calc(11ch + 11*0.0625em) - (2ch + 2*0.0625em) );
    left: calc(2ch + 2*0.0625em);
  }
  30% {
    width: calc( calc(11ch + 11*0.0625em) - (3ch + 3*0.0625em) );
    left: calc(3ch + 3*0.0625em);
  }
  40% {
    width: calc( calc(11ch + 11*0.0625em) - (4ch + 4*0.0625em) );
    left: calc(4ch + 4*0.0625em);
  }
  50% {
    width: calc( calc(11ch + 11*0.0625em) - (5ch + 5*0.0625em) );
    left: calc(5ch + 5*0.0625em);
  }
  60% {
    width: calc( calc(11ch + 11*0.0625em) - (6ch + 6*0.0625em) );
    left: calc(6ch + 6*0.0625em);
  }
  70% {
    width: calc( calc(11ch +11*0.0625em) - (7ch + 7*0.0625em) );
    left: calc(7ch + 7*0.0625em);
  }
  80% {
    width: calc( calc(11ch + 11*0.0625em) - (8ch + 8*0.0625em) );
    left: calc(8ch + 8*0.0625em);
  }
  90% {
    width: calc( calc(11ch + 11*0.0625em) - (10ch + 10*0.0625em) );
    left: calc(10ch + 10*0.0625em);
  }
  100% {
    width: calc( calc(11ch + 11*0.0625em) - (11ch + 13*0.0625em) );
    left: calc(11ch + 11*0.0625em);
  } */
  /* 55% {
    width: calc( calc(15ch + 15*0.0625em) - (11ch + 11*0.0625em) );
    left: calc(11ch + 11*0.0625em);
  }
  60% {
    width: calc( calc(15ch + 15*0.0625em) - (12ch + 12*0.0625em) );
    left: calc(12ch + 12*0.0625em);
  }
  65% {
    width: calc( calc(15ch + 15*0.0625em) - (13ch + 13*0.0625em) );
    left: calc(13ch + 13*0.0625em);
  }
  70% {
    width: calc( calc(15ch + 15*0.0625em) - (14ch + 14*0.0625em) );
    left: calc(14ch + 14*0.0625em);
  }
  75% {
    width: calc( calc(15ch + 15*0.0625em) - (15ch + 15*0.0625em) );
    left: calc(15ch + 15*0.0625em);
  }
  80% {
    width: calc( calc(15ch + 15*0.0625em) - (16ch + 16*0.0625em) );
    left: calc(16ch + 16*0.0625em);
  }
  85% {
    width: calc( calc(15ch + 15*0.0625em) - (17ch + 17*0.0625em) );
    left: calc(17ch + 17*0.0625em);
  }
  90% {
    width: calc( calc(15ch + 15*0.0625em) - (18ch + 18*0.0625em) );
    left: calc(18ch + 18*0.0625em);
  }
  95% {
    width: calc( calc(15ch + 15*0.0625em) - (19ch + 19*0.0625em) );
    left: calc(19ch + 19*0.0625em);
  }
  100% {
    width: calc( calc(15ch + 15*0.0625em) - (20ch + 20*0.0625em) );
    left: calc(15ch + 15*0.0625em);
  } */
/* } */
/* @keyframes blink {
  0% {
    border-left-color: #152860;
  }
  50% {
    border-left-color: #152860;
  }
  51% {
    border-left-color: #eff5ed;
  }
  100% {
    border-left-color: #eff5ed;
  }
} */



/* responsive media queries */

@media only screen and (max-width: 600px) { 

  .toggle{
    background: url(/images/hamburger3.png);
    width: fit-content;
    height: 50px;
    min-height: fit-content;
    position: relative;
    background-size: cover;
    backface-visibility: hidden;
    border: none;
  }

  .typeWriterEffect {
    font-family: 'Poppins', sans-serif;
    color: #252323;
    text-align: center;
    font-size: 10px;
    padding: 1px;
    margin-top: 450px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%; */
  }

  #info-btn {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #91640F;
    color: #91640F;
    font-size: 10px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    height: auto;
    /* margin-top: 450px; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%; */
  }
  
  #info-btn:hover {
    color: #fff;
    background: #91640F;
    border: solid 2px #91640F;
    cursor: pointer;
  }

  /* .mainPage {
    font-size: 14px;
  }

  #name {
    color: #808000;
    font-size: larger;
  } */
 
  /* .header12, small {
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Kelly Slab', cursive;
    color: #0000ff;
    text-align: center;
    font-weight: bolder;
  }

  .header11{
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Kelly Slab', cursive;
    color: #0000ff;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
  }

  .header11 h3 {
    position: relative;
    color: #0000ff;
    text-align: center;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 0.0625em;
    width: calc(20ch + 20*0.0625em);
  }

  .footer
{
  font-size: .5em;
  text-align: center;
  padding: 4px;
  color: #0c0c0c;
  font-weight: bolder;
} */
}



::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ffffff, rgb(228, 225, 55));
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient( #808000, rgb(228, 225, 55));
}

