
* {
    margin: 0; 
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    color: #0c0c0c;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: #E1E1E1;
    padding: 0;
    box-shadow: 0px 5px 0px #808000;
  }
  nav ul {
    list-style: none;
    text-align: left;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #0c0c0c;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  

/* SHIFT */
.shift ul li a {
    position:relative;
    z-index: 1;
  }
.shift ul li a:hover {
    color: #91640F;
    text-decoration-line: none;
  }
  .shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #a9a9a9;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

.section-container{
    min-height: 680px;
    scroll-margin-top: 4rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
} 

.portfolio-container{
    background-color: #242323;
    color: #0c0c0c;
    min-width: 100%;
	position:relative;
    background:linear-gradient(transparent,  #e9e5e5 45%), url(/images/darkcollection03.jpg) no-repeat center; 
    backface-visibility: hidden;
	background-size: cover;
    /* box-shadow:0 12px 15px 0 #ffffff,0 17px 50px 0 #ffffff; */
}

#photo {
    width: 220px;
    height: 220px;
    padding: 5px;
    margin: 70px auto 50px auto;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 50%;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

#header{
    font-family: "Kaushan Script", cursive;
    color: #0000ff;
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 0;
}

#header1 {
    color: #0c0c0c;
    padding: 5px;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    font-weight: 700;
}

#header3{
    text-align: center;
    font-family: "Space Mono", Arial, serif;
}

#contact-me {
    display: block;
    background: rgb(228, 225, 55);
    color: #0000ff;
    font-family: "Space Mono", Arial, serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    text-decoration-line: none;
}

#contact-me:hover {
    color: #91640F;
    text-decoration-line: none;
}

#emails{
    color: #0000ff;
    font-size: 20px;
    text-decoration-line: none;
}

#header2{
    color: #0c0c0c;
    padding: 15px;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    font-weight: 700;
    /* margin-top: -5px; */
}

h2{
    /* color: #ffffff; */
    padding: 10px;
    font-weight: bolder;
}

.paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    padding: 2px;
    text-align: center;
}

.projects-container {
    font-family: "Space Mono", Arial, serif;
	position:relative;
    backface-visibility: hidden;
    background-size: cover;
}

.row{
    padding: 10px;
}

#frontside {
    background: url('/images/moviesimage.jpg');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}
#frontside1 {
    background: url('/images/cinemabinge2.jpg');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}
#frontside2 {
    background: url('/images/Quiz-question.photo.jpg');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}
#frontside3 {
    background: url('/images/clickyreact.photo.jpg');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}
#frontside4 {
    background: url('/images/train-image.jpg');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}
#frontside5 {
    background: url('/images/giphycover.gif');
    width: 100%;
    min-height: 250px;
    justify-content: stretch;
    position:relative;
    backface-visibility: hidden;
    background-size: cover;
}

.modalText {
    text-align: center;
    font-weight: 600;
}

.viewSite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    margin: 5px;
    padding: 3px;
    /* background: #808000; */
}

.viewSite:hover {
    font-family: 'Notable', sans-serif;
    text-decoration-line: none;
    color: #91640F;
}

.modalTool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalButton {
    background-color: #808000;
}

.modalButton:hover {
    font-family: 'Notable', sans-serif;
    background-color:  #a9a9a9;
    color: #91640F;
    font-weight: bolder;
}

.details, .tech {
    font-weight: 600;
    text-decoration-line: underline;
}

.pjTitle {
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
}

/* .col-md-4{
    perspective: 1000px;
    margin-bottom: -35px;
} */

/* .card {
    position: relative;
    width: 100%;
    height: 75%;
    transition: transform 1s;
    transform-style: preserve-3d;
} */

/* .cardhead {
    text-align: center;
    color: #0c0c0c;
} */

/* .col-md-4:hover .card {
    transform: rotateY(180deg);
}

.card-back {
     position: absolute;
     width: 100%;
     height: 102%;
     backface-visibility: hidden;
     
}

.card-back {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    width: 100%;
    height: 102%;
    transform: rotateY(180deg);
    color: black;
    
}

.card-title {
    color: rgb(17, 16, 16);
    text-align: center;
    text-decoration: none;
}


.card-text{
    margin-top: -10px;
    padding: 0;
}

.card-text, a {
    color: rgb(12, 12, 12);
    font-weight: normal;
    
} */

.header{
    font-family: "Space Mono", Arial, serif;
    font-weight: 700;
    color: #0c0c0c;
    text-align: center;
}

.container-contact{
    background-image: url(/images/nature.png); 
    font-family: "Space Mono", Arial, serif;
    color: #0c0c0c;
    position:relative;
    /* min-height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    /* backface-visibility: hidden; */
    background-size: cover;
}

#contactline {
    background-color: rgb(136, 106, 106);
    margin-top: 5px;
    margin-bottom: 5px;
}

#contactForm {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

.alert {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    background: #808000;
    margin-bottom: 10px;
    display: none;
}

#btn-submit {
    margin-bottom: 10px;
} 

.footer
{
    color: #0c0c0c;
    background: #E1E1E1;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    
}

.fa {
    color: #0c0c0c;
    padding: 5px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  .fa:hover {
    color: #91640F;
    text-decoration-line: none;
  }

  
.fa-github:hover {
    text-decoration-line: none;
} 


/* responsive media queries */

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        min-height: 33px;
        font-size: x-small;
        margin: 0 auto;
        background: #E1E1E1;
        padding: 0;
        box-shadow: 0px 17px 0px #808000;
      }
      nav ul {
        list-style: none;
        text-align: center;
      }
    nav ul li {
        display: inline-block;
      }
      nav ul li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #0c0c0c;
        font-weight: bolder;
        text-transform: uppercase;
        margin: 0 5px;
      }

      #header{
        font-family: "Kaushan Script", cursive;
        color: #0000ff;
        text-align: center;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #header1 {
        color: #0c0c0c;
        padding: 2px;
        font-size: medium;
        text-align: center;
        font-family: "Space Mono", Arial, serif;
        font-weight: 700;
    }

    .header1{
        color: #252323;
        font-size: 1.5em;
        padding: 5px;
        text-align: center;
        font-family: "Space Mono", Arial, serif;
        font-weight: 700;
        margin-top: -5px;
    }

    .footer
{
    font-size: .5em;
    text-align: center;
    color: #0c0c0c;
    font-weight: bolder;
}
  }