
* {
    margin: 0; 
    padding: 0;
}

body {
    position: relative;
    background-color: #0c0c0c;
    color: #0c0c0c;
} 

#logo {
    float: left;
    font-family: 'Notable', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ebebeb;
  }

#logo:hover {
    color: #ffff00;
    text-shadow: 4px 1px 4px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(8, 8, 8);
}

nav{
    background: #0c0c0c;
    width: 100%;
    position: fixed; 
    z-index: 1;
}

#navbarNav .navbar-nav .nav-item .nav-link {
     color: #ebebeb;
}

.nav-link
{
      font-weight: bolder;
}

.nav-item .nav-link:hover  {
      color: #ffff00;
      text-shadow: 4px 1px 4px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(8, 8, 8);
}

#hamburger {
    background: #ffffff;
}

.section-container{
    scroll-margin-top: 4rem;
    height: 800px;
    margin-bottom: 4rem;
} 

.portfolio-container{
    background-color: #242323;
	position:relative;
    background:linear-gradient(transparent,  #e9e5e5 45%), url(/images/darkcollection03.jpg) no-repeat center; 
    backface-visibility: hidden;
	background-size: cover;
    box-shadow:0 12px 15px 0 #0c0c0c,0 17px 50px 0 #0c0c0c;
}

#photo {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-top: 80px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header{
    font-family: "Kaushan Script", cursive;
    color: #0000ff;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#header1 {
    color: #0c0c0c;
    padding: 5px;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    font-weight: 700;
    margin-top: -5px;
}

#header3{
    text-align: center;
    font-family: "Space Mono", Arial, serif;
}

#contact-me {
    display: block;
    background: #eee8aa;
    color: #0000ff;
    font-family: "Space Mono", Arial, serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    text-decoration-line: none;
}

#emails{
    color: #eee8aa;
    font-size: 20px;
    text-decoration-line: none;
}

#projects {
    font-family: "Space Mono", Arial, serif;
	position:relative;
    backface-visibility: hidden;
    background-size: cover;
}

#header2{
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    font-weight: 700;
    margin-top: -5px;
}

h2{
    color: #ffffff;
    padding: 30px;
    font-weight: bolder;
}

.paragraph{
    font-family: "Space Mono", Arial, serif;
    text-align: center;
    color: #ffffff;
    line-height: 23px;
}

.row{
    margin: 20px;
}

.col-md-4{
    perspective: 1000px;
    margin-bottom: -35px;
}

.card {
    position: relative;
    width: 100%;
    height: 75%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardhead {
    text-align: center;
    color: #ffffff;
}

.col-md-4:hover .card {
    transform: rotateY(180deg);
}

.card-back {
     position: absolute;
     width: 100%;
     height: 102%;
     backface-visibility: hidden;
     
}

.card-back {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(228, 225, 55);
    width: 100%;
    height: 102%;
    transform: rotateY(180deg);
    color: black;
    
}

.card-title {
    color: rgb(17, 16, 16);
    text-align: center;
    text-decoration: none;
}


.card-text{
    margin-top: -10px;
    padding: 0;
}

.card-text, a {
    color: rgb(12, 12, 12);
    font-weight: normal;
    
}

.header{
    font-family: "Space Mono", Arial, serif;
    color: #ffffff;
    text-align: center;
    margin-top: -48px;
    margin-bottom: -20px;
}

#contact{
    background: url(/images/contactimage.jpg) no-repeat center; 
    font-family: "Space Mono", Arial, serif;
    color: #ffffff;
	position:relative;
    backface-visibility: hidden;
    background-size: cover;
}

#contactline {
    background-color: rgb(136, 106, 106);
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert {
    text-align: center;
    padding: 10px;
    color: #8b0000;
    font-weight: bolder;
    background: #79c879;
    margin-bottom: 10px;
    display: none;
}

#btn-submit {
    margin-bottom: 10px;
} 

.footer
{
    color: #ffffff;
    background: #0c0c0c;
    text-align: center;
    font-family: "Space Mono", Arial, serif;
    
}

.fa {
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
.fa:hover {
      opacity: 0.7;
      color: #ffff00;
      text-shadow: 4px 1px 4px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(8, 8, 8);
  }

.fa-github:hover {
    text-decoration-line: none;
} 


/* responsive media queries */

@media only screen and (max-width: 600px) {
    .col-md-4{
        perspective: 1000px;
        margin-bottom: -10px;
    }

    .header1{
        color: #252323;
        font-size: 1.5em;
        padding: 5px;
        text-align: center;
        font-family: "Space Mono", Arial, serif;
        font-weight: 700;
        margin-top: -5px;
    }

    .footer
{
    font-size: .5em;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}
  }