*{margin: 0; padding: 0;}

body{
    background-color: black;
}


nav{
    margin-bottom: 40px;
}

/* 
.navbar
{
   background-color: black;
   border-bottom: 1px solid black;
} */
/* 
.navbar-brand
{
    background-color: red;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: auto;
    float: right;
    border-radius: 50px; */
     /* position: relative;
    bottom: -6px;
    right: -220px; */
    /* border: 1px solid white; */
/* } */

/* h4
{
    color: white;
    font-size: 25px;
    font-family: serif;
    width: cover;
} */

/* #navbarNav {
    float: right;
} */

/* .container {
    float: right;
} */

/* .navbar-nav
{
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
} */



 
#logo {
    background-color: maroon;
    float: left;
    width: 100px;
    height: 60px;
    font-family: 'Notable', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ebebeb;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    -webkit-box-shadow: 10px 0px 10px 0px   rgb(37, 4, 4);
	-moz-box-shadow:    10px 0px 10px 0px  rgb(37, 4, 4);
	box-shadow:         10px 0px 10px 0px  rgb(37, 4, 4);
  }

  .nav-item .nav-link:hover {
      border-radius: 10px;
    -webkit-box-shadow: 5px 0px 5px 0px   rgb(37, 4, 4);
	-moz-box-shadow:    5px 0px 5px 0px  rgb(37, 4, 4);
	box-shadow:         5px 0px 5px 0px  rgb(37, 4, 4);
  }

  /* {
    float: right;
    margin-top: 25px;
  } */

.row{
    padding: 20px;
    margin-top: -30px;
}

.col-md-3{
    perspective: 1000px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.col-md-3:hover .card {
    transform: rotateY(180deg);
}

.card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
}


.card-back {
    background-color: white;
    width: 100%;
    height: 100%;
    line-height: 30px;
    transform: rotateY(180deg);
    color: black;
}

.card-title {
    color: brown;
    font-weight: 900;
}

.card-text, a {
    color: black;
}


.footer
{
    background-color: black;
    border-top: 8px solid rgb(56, 52, 52);
    text-align: center;
    padding: 20px;
    color: white;
    /* position: relative;
    bottom: -60px; */
} 

/* .card-img-top {
    height: 150px;
} */


/* .card-back {
   
    

} */
/* 
.card{
    width: 200px;
    height: 450px;
} */

/* .card, .card-body, .card-title, .card-text, .card-footer, .text-muted
{
    color: black;
}  */

/* .card {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
} */

/* .card:hover {
	-webkit-box-shadow: 10px 10px 0px 0px  rgb(46, 59, 21);
	-moz-box-shadow:    10px 10px 0px 0px  rgb(46, 59, 21);
	box-shadow:         10px 10px 0px 0px  rgb(46, 59, 21);
} */

/* .card :hover {
    -webkit-animation:spin 1s ease-in 1s 1;
    -moz-animation:spin 1s ease-in 1s 1;
    animation:spin 1s ease-in 1s 1;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(90deg); } }
@keyframes spin { 50% { transform:rotateY(90deg);} } */

 