*{margin: 0; padding: 0;}

body{
    background-color: black;
    color: #ebebeb;
    /* width: auto; */
}

hr {
    background-color: rgb(136, 106, 106);
    margin-bottom: 50px;
}

nav{
    width: 100%;
    margin-bottom: 40px;
}
 
.container-fluid{
    background: url(../images/contact\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    color: brown;
    padding: 30px;
    font-weight: bolder;
}

h3, h4, h5 
{
   color: rgb(228, 225, 55);
}

#logo {
    float: left;
    font-family: 'Notable', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ebebeb;
	/* transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-box-shadow: 10px 0px 10px 0px   rgb(136, 106, 106);
	-moz-box-shadow:    10px 0px 10px 0px  rgb(136, 106, 106);
	box-shadow:         10px 0px 10px 0px  rgb(136, 106, 106); */
  }

  
#logo:hover {
    color: rgb(228, 225, 55);
    text-shadow: 4px 1px 4px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(8, 8, 8);
  }

.nav-link
  {
      font-weight: bolder;
  }

  .nav-item .nav-link:hover  {
      /* color: rgb(228, 225, 55); */
      text-shadow: 2px 1px 2px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(228, 225, 55);
      /* border-radius: 10px;
    -webkit-box-shadow: 5px 0px 5px 0px   rgb(37, 4, 4);
	-moz-box-shadow:    5px 0px 5px 0px  rgb(37, 4, 4);
	box-shadow:         5px 0px 5px 0px  rgb(37, 4, 4); */
  }

#btn-submit:hover{
    
    text-shadow: 2px 1px 2px red, 0 0 1em rgb(228, 225, 55), 0 0 0.2em rgb(228, 225, 55);
}  

.row{
    margin: -15px 20px 20px 20px;
}

.col-md-3{
    perspective: 1000px;
    margin-bottom: 27px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-box-shadow: 10px 0px 10px 0px   rgb(136, 106, 106);
	-moz-box-shadow:    10px 0px 10px 0px  rgb(136, 106, 106);
	box-shadow:         10px 0px 10px 0px  rgb(136, 106, 106);

}

.col-md-3:hover .card {
    transform: rotateY(180deg);
}

.card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
}

.card-back {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    line-height: 25px;
    transform: rotateY(180deg);
    color: black;
}

.card-title {
    color: brown;
    font-weight: 900;
    text-decoration: underline;
}

.card-text, a {
    color: black;
    font-weight: normal;
}

#SLIDE_BG{
    width: 100%;
    height: 75vh;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 2s;
    animation-timing-function: ease-in-out;
    background-image: url('../images/computer\ image.jpg');
}

@keyframes slideBg {
    0% {
        background-image: url('../images/computer\ image.jpg');
    }

    25% {
        background-image: url('../images/tech\ beee.jpg');
    }

    50% {
        background-image: url('../images/database\ photo.jpg');
    }

    75% {
        background-image: url('../images/Atlanta-Dawn2.jpg');
    }

    100% {
        background-image: url('../images/database\ image.jpg');
    }
}

#photo {
    width: 300px;
    height: 600px;
    padding: 20px;
    margin-top: 40px;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0px 3px 3px 2px   rgb(124, 123, 46);
	-moz-box-shadow:    0px 3px 3px 2px  rgb(124, 123, 46);
	box-shadow:         0px 3px 3px 2px  rgb(124, 123, 46);
    /* border-radius: 50%; */
    
}

.flex-container, h1 {
    color: #ebebeb;
    padding: 20px;
}

.header{
    font-family: 'Poppins', sans-serif;
    /* margin-top: -70px; */
    /* margin-bottom: 35px; */
    /* text-decoration: underline; */
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    /* margin-top: -40px; */
}


#paragraph{
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}


p {
    padding: 20px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    /* margin: 15px 0 0 0; */
    border-radius: 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
/* .fa-facebook {
    background: #3B5998;
    color: white;
  }

  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  } */
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  /* .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #f09433;
    color: white;
  }  */
  
  .fa-resume {
      color: #007bb5;
      font-weight: bolder;
  }

  /* #resume:hover{
    color:  #3408f7;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-shadow: 15px 0px 15px 0px   rgb(60, 117, 3);
	-moz-shadow:    15px 0px 15px 0px  orange;
	box-shadow:         15px 0px 15px 0px   #3408f7;
  } */

/* .fa-mern 
{
    background-image: url(../images/portfolio\ footer0202.png);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
} */



#footer 
{
    background-image: url(../images/portfolio\ footer0202.png);    
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-top: 8px solid rgb(56, 52, 52);
    text-align: left;
    padding: 20px;
    color: rgb(228, 225, 55);
} 

.footer
{
    border-top: 8px solid rgb(56, 52, 52);
    text-align: left;
    padding: 20px;
    color: rgb(228, 225, 55);
}